<div class="customers">
  <div class="title-customer">
    <h2>Customers</h2>
    <div><a routerLink="/customerform" routerLinkActive="active">Add Customer</a></div>
  </div>
  <div *ngFor = "let customer of customers; let i = index;" class="customer">
    <h1>{{customer.company}}</h1>
    <h4>Contact: {{customer.contact}}</h4>
    <h4>Telephone: {{customer.telephone}}</h4>
    <h4>Location: {{customer.address +", "+ customer.city+ ", " + customer.province + " " + customer.postal }} </h4>
    <h4>Number of Employees: {{customer.employees}}</h4>
    <button class="delete" (click)="deleteCustomer(i)">Remove</button>
    <a [routerLink]="['/customerform']" [state]="{customer: customer, id:i}" routerLinkActive="active">Update</a>
  </div>
</div>
